<!DOCTYPE html>
<html>

<head>
    <title>Underrated Artists</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <h1>Top 50 Underrated Artists</h1>
    </header>
    <main>
        <section>
            <p id="displayArtists"></p>
            <a href="/">Back Home</a>
        </section>

    </main>
    <footer></footer>
</body>

</html>