<!DOCTYPE html>
<html>

<head>
    <title>Login to Spotify</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <section>
            <p id="connectToSpotify"></p>
        </section>

    </main>
    <footer></footer>
</body>

</html>