<!DOCTYPE html>
<html>
    <head>
        <title>Underrated Artists</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <header>
            <h1>Welcome to Underrated Artists</h1>
        </header>
        <main>
            <section></section>

        </main>
        <footer></footer>
    </body>
</html>